.navBar{
    display: flex;    
    background-color:rgba(133, 187, 8, 0.582);
    height: inherit;
}
h1{          
    margin-left: 2rem;
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
    font-size: 3em;
    background: -webkit-linear-gradient(rgb(6, 10, 6), rgb(18, 134, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-links-item {
    display: inline-block;
    margin: 0;
    padding: 1rem;          
    
}

.menu-item{
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    padding-bottom: 20px; 
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 30px;
    top: 20px;
  }
  
  .bm-burger-bars {
    background: #1a2701;
  }
  
  .bm-burger-bars-hover {
    background: #f7f6f8;
  }
  /*
  .bm-cross-button {
    height: 3rem;
    width: 3rem;
    border: 1px solid red;

  }
  
  .bm-cross {
    background: #bdc3c7;

  }*/
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;

  }
  
 .bm-menu {
    background: #040b2c85;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;

  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.1%;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(255, 255, 255, 0) !important;
    width: 150% !important;   
    
  }