.randomButton{
    display:table-cell;

    border-radius: 10px 10px;
    margin: auto;   
    
    margin-top: 40px;
    width: 100px;    
    align-content: center;    
}
.randomResults{    
   
    margin: 0;
    padding: 0;
    text-align: center;   
    
}
