.innerSearchResult {
    display: inline-grid;
    grid-column: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 3rem;
    border: 2px dotted rgba(105, 168, 2, 0.555);
    width: 20%;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 4px 4px 8px  #888888;

}

.card-photo{
        object-fit: cover;
        /*border: 1px solid black;*/
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 5px;
       
}

.caption{
    text-align: center;
    padding: 0.5rem;
    color: rgb(67, 88, 7);
    font-size: 1rem;
    width: 90%;
}
a{
    /*border: 1px solid blue;*/
    text-align: center;
    font-size: 60%;

}