
.FormText{
   
    background: rgba(214, 203, 203, 0.507);
    margin: 0 auto;
    padding: 0;
    width: 95%;
    border-radius: 10px; 

}

 h6{
    color: rgb(68, 67, 67);
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
}