.innerSearchResult {
    display: inline-grid;
    grid-column: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 3rem;
    border: 1px dotted rgba(105, 168, 2, 0.555);
    width: 20%;
    justify-content: center;

}

.card-photo{
        object-fit: cover;
       
}

.caption{
    text-align: center;
    padding: 1rem;
    color: rgb(67, 88, 7);
    font-size: 1rem;
    width: 90%;
}
