*{
    margin: 0;
    padding: 0;
}

form {   
    /*border: 1px solid rgba(226, 209, 209, 0.288);  */
   margin: 0 auto;  
    height: 50px;   
    margin: 20px;
    align-items: center;  
    text-align: center;     
    padding: 0;     
  
}
fieldset{
    border: none;
    
}
h4, h6{
    text-align: center;
    color: grey;
    padding: 30px;
    
}
label, input, button {
  
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid transparent;   
    color: black; 
  
}



select {
    background-color: rgba(133, 187, 8, 0.26);
    
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    
}


.select-container {
    display: inline-block;
    width: 74%;    
    border-radius: 10px; 
    padding: none;
   
    
    
}

.select__value-container {
    background-color:rgba(100, 199, 8, 0.493);   
     

}

.select__option {
    border: black;
}

button{
    border-radius: 0px 10px 10px 0px;
}
button:hover{
    background-color:rgba(133, 187, 8, 0.329);
    transition: 0.3s all;

}
#search{
   /* border: 1px solid red;*/
    width: 20%;
    
    border-radius:  10px 0px 0px 10px;
    position: relative;
    background-color: rgba(133, 187, 8, 0.26);
    transition: 0.3s all;
}
#search:hover {
    background-color: rgba(255, 255, 255, 0.623);
    /*box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);*/
  }
.loader{
    text-align: center;
    padding-top: 10px;
}
@media screen and (max-width: 600px){
    #search, select{
        width: 55%;
        background-color: rgba(100, 199, 8, 0.493);
        margin-top: 20px;

    }
    select {
        width: 74%;
        margin-bottom: 20px;
    }
  
    .loader{
        padding-top: 30%;
    }
    
}

@media screen and (min-width: 601px){
    #search, select{
        width: 40%;
        background-color: rgba(100, 199, 8, 0.493);
        margin-top: 20px;
    }

    select {
        width: 51%;
        margin-bottom: 20px;
    }

    .select-container {
        display: inline-block;
        width: 51%;    
        border-radius: 10px; 
        padding: none;
        background-color: rgba(100, 199, 8, 0.493);
        
        
    }
}

@media screen and (min-width: 1000px){
    #search, select{
        width: 340px;
        background-color: rgba(100, 199, 8, 0.493);
        margin-top: 20px;
    }

    select {
        width: 433px;
        margin-bottom: 20px;
    }

    .select-container {
        display: inline-block;
        width: 433px;    
        border-radius: 10px; 
        padding: none;
        
        
    }
}